@{ Layout = null; }

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Forgot Password | Bootstrap Based Admin Template - Material Design</title>
    <!-- Favicon-->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/admin/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <!-- Waves Effect Css -->
    <link href="~/admin/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/admin/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/admin/css/style.css" rel="stylesheet" />
    <link href="~/admin/account/css/forgotpassword.css" rel="stylesheet" />
</head>

<body class="fp-page">
    @*<div class="fp-box">*@

    @*<img src="~/images/forgot-password-amico-1951.png" class="imgforgotpass" />*@

    <div class="card">
        <div class="body">
            <form id="forgot_password">
                <div class="msg">
                    Nhập email của bạn vào đây. Chúng tôi sẽ gửi lại liên kết để bạn đặt lại mật khẩu tới email bạn cung cấp.
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">email</i>
                    </span>
                    <div class="form-line">
                        <input type="email" class="form-control" name="email" placeholder="Email" required autofocus>
                    </div>
                </div>

                <button class="" type="submit" id="btnresetpass">Đặt lại mật khẩu</button>

                <div class="row m-t-20 m-b--5 align-center">
                    <a href="/admin/account">Đăng nhập!</a>
                </div>
            </form>
        </div>
    </div>


    @*</div>
        </div>*@

    <!-- Jquery Core Js -->
    <script src="~/admin/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/admin/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/admin/plugins/node-waves/waves.js"></script>

    <!-- Validation Plugin Js -->
    <script src="~/admin/plugins/jquery-validation/jquery.validate.js"></script>

    <!-- Custom Js -->
    <script src="~/admin/js/admin.js"></script>
    <script src="~/admin/js/pages/examples/forgot-password.js"></script>
</body>

</html>