span.select2-container {
    z-index: 10050;
}
.btn-icon {
    background-color: #f1f3f5;
    border: none;
    width: 30px;
}
.fa-edit {
    color: #17a2b8;
    font-size: 14px !important;
}
.fa-trash {
    color: red;
    font-size: 14px !important;
}
.card-body {
    padding-left: 70px !important;
}

    .card-header > span {
        width: 15% !important;
    }

.selectfilter{
    width:15%
}
.card-header-modal {
    padding-left: 30px !important;
}
.modal-dialog {
    height: inherit;
}
.modal-content{
    height:0%
}